<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>J-P Teti</string>
	<key>Builder Version</key>
	<string>13604.1.21.7</string>
	<key>CFBundleDisplayName</key>
	<string>Darkness</string>
	<key>CFBundleIdentifier</key>
	<string>com.jpteti.darkness</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>darkness.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>“Democracy Dies in Darkness” Dies in Darkness</string>
	<key>DeveloperIdentifier</key>
	<string>K2A75QU33M</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>www.washingtonpost.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://darkness.jpteti.com/</string>
</dict>
</plist>
